<!DOCTYPE html>
<!--App created using the Boundless Web App Builder version @VERSION@-->
<!--WebSDK version: @SDKVERSION@-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@TITLE@</title>
  <link rel="stylesheet" type="text/css" href="resources/css/ol.css">
  <link rel="stylesheet" href="./resources/css/components.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en,Object.assign,Array.prototype.find"></script>
  @SCRIPTS@

</head>
<body>
  <div id='main'></div>
  <!-- This script adds the Roboto font to our project. For more detail go to this site:  http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->
  <script>
    var WebFontConfig = {
      google: { families: [ 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  @SCRIPTSBODY@

</body>
</html>
