<!DOCTYPE html>
<!--App created using the Boundless Web App Builder version @VERSION@-->
<!--WebSDK version: @SDKVERSION@-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@TITLE@</title>
  <link rel="stylesheet" type="text/css" href="resources/css/ol.css">
  <link rel="stylesheet" href="./resources/css/components.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
  @SCRIPTS@

</head>
<body>
  <div id='main'></div>
  @SCRIPTSBODY@

</body>
</html>
