<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@TITLE@</title>
  @SCRIPTS@
  <link rel="stylesheet" type="text/css" href="ol.css">
  <link rel="stylesheet" href="./css/components.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="https://cdn.polyfill.io/v1/polyfill.min.js?features=Intl.~locale.en"></script>
  <script src="browser.js"></script>
</head>
<body>
  <script src="full.js"></script>
  <script type="text/babel" src="./app.jsx"></script>
</body>
</html>
