.about-panel {
    display: block;
    position: absolute;
    background:rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
    top: 100px;
    left: 50px;
    height: 500px;
    width: 300px;
    min-width: 300px;
    z-index: 100
}