canvas {
  background-color: white;
}
#content {
  width: 100%;
  height:  100%;
  position: fixed;
  bottom: 0px;
}
.ol-mouse-position{
}
#legend {
  position: absolute;
  right: 20px;
}
#geolocation-control {
  position: absolute;
  margin-left: 20px;
}
#home-button {
  position: absolute;
  margin-left: 20px;
}
#fullscreen-button {
  position: absolute;
  margin-left: 20px;
}
#zoom-slider {
  position: absolute;
  width: 150px;
  left: 100px;
  top: 70px;
}
#zoom-buttons {
  margin-left: 20px;
  position: absolute;
}
#rotate-button {
  margin-left: 20px;
  position: absolute;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.map {
  position: absolute;
  top: 64px;
  height: calc(100% - 64px);
}
#map {
  width: 100%;
  height: 100%;
}
#edit-tool-panel {
  display: none;
  position: absolute;
  background:rgba(255,255,255, 1);
  padding: 15px;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  top: 0px;
  right: 0px;
  max-width: 50%;
  z-index: 1111;
}
#wfst {
 display: none;
 position: absolute;
 background:rgba(255,255,255, 1);
 padding: 5px;
 border: 1px solid #000000 ;
 top: 0px;
 right: 0px;
 max-width: 50%;
 z-index: 1111;
}
#timeline {
  background-color: rgba(255,255,255,.4);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  margin-left: 100px;
  height: 50px;
  z-index: 1001;
}
.ol-overviewmap {
  bottom: 35px;
}
