.modal-title {
  text-transform: none !important;
}
.toolbar ul {
  margin-right: 12px;
  margin-top: 12px;
}
.toolbar {
  height: 60px;
}
#geolocation-control {
  top: 130px;
  left: 1.3em;
}
#home-button {
  top: 70px;
  left: 1.3em;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}
.full-height {
  height: 100%;
}
#map {
  width: 100%;
  height: 100%;
}
#content {
  width: 100%;
  height:  calc(100% - 60px);
  position: fixed;
  bottom: 0px;
}

.popup-table{
  width:100%;
}
.popup-table tbody tr:nth-child(odd) {
   background-color: #ccc;
}

.popup-table th {
    text-align: center;
}

.popup-table th, td {
    padding: 6px;
}

#edit-tool-panel {
  display: none;
  position: absolute;
  background:rgba(255,255,255, 1);
  padding: 5px;
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  top: 0px;
  right: 0px;
  max-width: 50%;
  z-index: 1111;
}
