.ol-overviewmap {
  position: absolute;
  left: .5em;
  bottom: .5em;
}

.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}

.ol-overviewmap .ol-overviewmap-map,.ol-overviewmap button {
  display: inline-block;
}

.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;  heght: 150px;
  margin: 2px;
  width: 200px;
  height: 200px;
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute;
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map,.ol-overviewmap.ol-uncollapsible button {
  display: none;
}

.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255,255,255,.8);
}

.ol-overviewmap-box {
  border: 2px dotted rgba(0,60,136,.7);
}
