.geocoding-results {
    display: none;
    position: absolute;
    background:rgba(255,255,255, 1);
    padding: 15px;
    border: 1px solid #000000;
    top: 0px;
    right: 0px;
    max-width: 50%;
    z-index: 1111
}