/*General*/
.toggle {
  width: 100px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

.closer-icon {
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.closer-icon:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


/*Map*/
#map {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height:  calc(100% - 60px);
    position:fixed;
    bottom: 0px;
}

/*Toolbar*/
#toolbar {
  height:60px;
}

/*Geocoding*/
.geocoding-results {
    display: none;
    position: absolute;
    background:rgba(255,255,255, 1);
    padding: 15px;
    border: 1px solid #000000;
    top: 0px;
    right: 0px;
    max-width: 50%;
    z-index: 1111
}

/*Query*/
.query-panel {
    display: none;
    position: absolute;
    background:rgba(255,255,255, 1);
    padding: 15px;
    border: 1px solid #000000;
    top: 0px;
    right: 0px;
    max-width: 50%;
    z-index: 1111
}

/*OpenLayers controls*/
.ol-unsupported {
  display: none;
}

.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.ol-control {
  position: absolute;
  background-color: #eee;
  background-color: rgba(255,255,255,.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-control:hover {
  background-color: rgba(255,255,255,.6);
}

@media print {
  .ol-control {
    display: none;
  }
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: #7b98bc;
  background-color: rgba(0,60,136,.5);
  border: none;
  border-radius: 2px;
}

.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.ol-touch .ol-control button {
  font-size: 1.5em;
}

.ol-control button:focus,.ol-control button:hover {
  text-decoration: none;
  background-color: #4c6079;
  background-color: rgba(0,60,136,.7);
}

.ol-compass {
  display: block;
  font-weight: 400;
  font-size: 1.2em;
}

/*Popup*/
.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    padding-top:35px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    height: auto;
    width: auto;
    min-width: 250px;
    max-height: 350px;
    max-width: 500px;
    overflow: auto;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    }

.ol-popup-closer:after {
    content: "&#10006;";
}

/*3D view*/
.enable3d-control {
  top: 65px;
  left: .5em;
}
.ol-touch .enable3d-control {
  top: 80px;
}

/*Attributes table*/
.attributes-table {
    display: none;
    position: absolute;
    background:rgba(255,255,255,1);
    padding: 15px;
    border: 1px solid #000000;
    bottom: 0px;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 101;
}

.attributes-table-closer {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 30px;
  }

.attributes-table .table-panel{
    overflow: scroll;
    height: calc(100% - 50px);
}

.attributes-table table{
  width:100%;
  border-collapse:collapse;
  font-weight:normal;
}

.attributes-table table th{
  padding:7px; border:#4e95f4 1px solid;
  background: #B1AFDB;
}

.attributes-table table td{
  padding:7px; border:#4e95f4 1px solid;
}

.attributes-table table tr:hover {
  background-color: #ffff99;
}



.row-selected {
  background: #b8d1f3;
}

.row-unselected {
  background: white;
}

.row-hidden-feature {
  color: #bbbbbb;
}

/*Attribution*/
.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}

.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}

.ol-attribution li:not(:last-child):after {
  content: " ";
}

.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
}

.ol-attribution button,.ol-attribution ul {
  display: inline-block;
}

.ol-attribution.ol-collapsed ul {
  display: none;
}

.ol-attribution.ol-logo-only ul {
  display: block;
}

.ol-attribution:not(.ol-collapsed) {
  background: rgba(255,255,255,.8);
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}

.ol-attribution.ol-logo-only {
  background: 0 0;
  bottom: .4em;
  height: 1.1em;
  line-height: 1em;
}

.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}

.ol-attribution.ol-logo-only button,.ol-attribution.ol-uncollapsible button {
  display: none;
}


/*Full screen*/
.ol-full-screen {
  right: 10px;
  top: 10px;
}

button.ol-full-screen-false:after {
  content: "\2194";
}

button.ol-full-screen-true:after {
  content: "\00d7";
}


/*Geolocation*/
.geolocation-control {
  top: 130px;
  left: .5em;
}

.geolocation-control button {
    float: right;
    background-image: url('data:image/png;base64,R0lGODlhEAAQALMAAJmZzMzM/2aZzJnM/2bM/8DAwPf3583NzczMzAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAUALAAAAAAQABAAQARVsMhJqxzCYMPFMB4VCAJyGAdCBtVYnulqScFgs9aIGAApAAYVrqDj+YDCWe02azqJPd9vOOntaoHgj4I5jD6YwCF0EXgFBI1ATJZYDVgtIBc9Up+WCAA7') /*logo.png*/;
    background-repeat: no-repeat;
    background-position: 2px;
    border: none;
}

/*Layers list*/
.layer-switcher {
    position: absolute;
    top: 3.5em;
    right: 0.5em;
    text-align: left;
}

.layer-tree-panel {
    padding-right: 50px;
    border: 1px solid #cccccc;
    background-color: white;
    overflow: auto;
    height: auto;
    max-height:500px;
}

.layer-switcher .layer-tree-panel {
    display: none;
}

.layer-switcher.shown .layer-tree-panel {
    display: block;
}

.layer-switcher button {
    float: right;
    width: 38px;
    height: 38px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAACE1BMVEX///8A//8AgICA//8AVVVAQID///8rVVVJtttgv98nTmJ2xNgkW1ttyNsmWWZmzNZYxM4gWGgeU2JmzNNr0N1Rwc0eU2VXxdEhV2JqytQeVmMhVmNoydUfVGUgVGQfVGQfVmVqy9hqy9dWw9AfVWRpydVry9YhVmMgVGNUw9BrytchVWRexdGw294gVWQgVmUhVWPd4N6HoaZsy9cfVmQgVGRrytZsy9cgVWQgVWMgVWRsy9YfVWNsy9YgVWVty9YgVWVry9UgVWRsy9Zsy9UfVWRsy9YgVWVty9YgVWRty9Vsy9aM09sgVWRTws/AzM0gVWRtzNYgVWRuy9Zsy9cgVWRGcHxty9bb5ORbxdEgVWRty9bn6OZTws9mydRfxtLX3Nva5eRix9NFcXxOd4JPeINQeIMiVmVUws9Vws9Vw9BXw9BYxNBaxNBbxNBcxdJexdElWWgmWmhjyNRlx9IqXGtoipNpytVqytVryNNrytZsjZUuX210k5t1y9R2zNR3y9V4lp57zth9zdaAnKOGoaeK0NiNpquV09mesrag1tuitbmj1tuj19uktrqr2d2svcCu2d2xwMO63N+7x8nA3uDC3uDFz9DK4eHL4eLN4eIyYnDX5OM5Z3Tb397e4uDf4uHf5uXi5ePi5+Xj5+Xk5+Xm5+Xm6OY6aHXQ19fT4+NfhI1Ww89gx9Nhx9Nsy9ZWw9Dpj2abAAAAWnRSTlMAAQICAwQEBgcIDQ0ODhQZGiAiIyYpKywvNTs+QklPUlNUWWJjaGt0dnd+hIWFh4mNjZCSm6CpsbW2t7nDzNDT1dje5efr7PHy9PT29/j4+Pn5+vr8/f39/f6DPtKwAAABTklEQVR4Xr3QVWPbMBSAUTVFZmZmhhSXMjNvkhwqMzMzMzPDeD+xASvObKePPa+ffHVl8PlsnE0+qPpBuQjVJjno6pZpSKXYl7/bZyFaQxhf98hHDKEppwdWIW1frFnrxSOWHFfWesSEWC6R/P4zOFrix3TzDFLlXRTR8c0fEEJ1/itpo7SVO9Jdr1DVxZ0USyjZsEY5vZfiiAC0UoTGOrm9PZLuRl8X+Dq1HQtoFbJZbv61i+Poblh/97TC7n0neCcK0ETNUrz1/xPHf+DNAW9Ac6t8O8WH3Vp98f5lCaYKAOFZMLyHL4Y0fe319idMNgMMp+zWVSybUed/+/h7I4wRAG1W6XDy4XmjR9HnzvDRZXUAYDFOhC1S/Hh+fIXxen+eO+AKqbs+wAo30zDTDvDxKoJN88sjUzDFAvBzEUGFsnADoIvAJzoh2BZ8sner+Ke/vwECuQAAAABJRU5ErkJggg==') /*logo.png*/;
    background-repeat: no-repeat;
    background-position: 2px;
    background-color: white;
    border: none;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: white;
}

.layer-tree-panel  li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 10px 5px;
    position:relative;
}
.layer-tree-panel  li::before, .layer-tree-panel  li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.layer-tree-panel  li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.layer-tree-panel  li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.layer-tree-panel  li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.layer-tree-panel  li.parent_li>span {
    cursor:pointer
}
.layer-tree-panel >ul>li::before, .layer-tree-panel >ul>li::after {
    border:0
}
.layer-tree-panel  li:last-child::before {
    height:30px
}


/*Mouse position*/
.ol-mouse-position {
  top: 10px;
  right: 70px;
  position: absolute;
  color: #fff;
  background-color: rgba(0,60,136,.5);
  padding: 2px 10px;
  border-radius: 5px;
}

/*North arrow*/
.ol-rotate {
  top: .5em;
  left: 40px;
  transition: opacity .25s;
}

.ol-rotate.ol-hidden {
  opacity: 0;
  display: none;
}

/*Overview map*/
.ol-overviewmap {
  position: absolute;
  left: .5em;
  bottom: .5em;
}

.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}

.ol-overviewmap .ol-overviewmap-map,.ol-overviewmap button {
  display: inline-block;
}

.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;  heght: 150px;
  margin: 2px;
  width: 200px;
  height: 200px;
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute;
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map,.ol-overviewmap.ol-uncollapsible button {
  display: none;
}

.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255,255,255,.8);
}

.ol-overviewmap-box {
  border: 2px dotted rgba(0,60,136,.7);
}


/*Scale bar*/
.ol-scale-line {
  background: #95b9e6;
  background: rgba(0,60,136,.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  padding: 0 2px;
}

/*About panel*/
.about-panel {
    display: block;
    position: absolute;
    background:rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
    top: 100px;
    left: 50px;
    height: 500px;
    width: 300px;
    min-width: 300px;
    z-index: 100
}

/*Zoom controls*/
.ol-zoom {
  top: .5em;
  left: .5em;
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

/*Zoom slider*/
.ol-zoomslider {
  position: absolute;
  top: 4.5em;
  left: .5em;
  background: #eee;
  background: rgba(255,255,255,.4);
  width: 24px;
  height: 200px;
}

.ol-zoomslider-thumb {
  position: absolute;
  background: #7b98bc;
  background: rgba(0,60,136,.5);
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  width: 22px;
  margin: 3px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
  width: 2.052em;
}

.ol-touch .ol-zoomslider-thumb {
  width: 1.8em;
}

/*Home button*/
.home-button {
  top: 70px;
  left: .5em;
}

/*Timeline*/
.timeline {
  top: 10px;
  left: 100px;
  width: 700px
}

.timeline ul
{
margin: 5;
padding: 5;
list-style-type: none;
}

.timeline li
{
display: inline;
}

.timeline input
{
display: inline;
}


#timelineRange {
    margin-left: 5px;
    width: 400px;
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
  }

#timelineRange::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
  }

#timelineRange ::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
  }

#timelineRange ::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
  }

#timelineDate{
  background: #ccc;
  background: linear-gradient(90deg, #ddd, #ccc);
  border: 1px solid #eee;
  border-radius: 8px;
  color: #222;
  font: 16px Helvetica,Arial,sans-serif;
  line-height: 20px;
  outline: 0;
  width: 200px;
  margin-left: 15px;
  vertical-align: middle;
}

#timelineButton{
  background: #ccc;
  background: linear-gradient(90deg, #ddd, #ccc);
  border: 1px solid #eee;
  color: #222;
  font: 16px Helvetica,Arial,sans-serif;
  height: 20px;
  outline: 0;
  width: 40px;
  vertical-align: middle;
  display: inline
}
/*Measure tool*/
.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}

.form-inline > * {
   margin:5px 3px;
}

/*Story panel*/
.story-panel {
    display: block;
    position: absolute;
    background:rgba(255,255,255,0.7);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000000;
    top: 100px;
    left: 50px;
    height: 500px;
    width: 500px;
    min-width: 400px;
    z-index: 100
}


.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
  color:grey;
}

.carousel-control.left {
  left: 20px;
}

.carousel-control.right {
  right:20px;
}

.carousel-indicators {
  top:-10px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-inner {
   margin-top:20px;
}

/*Chart panel*/
.chart-panel{
    display: none;
    position: absolute;
    background:rgba(255,255,255,1);
    padding: 15px;
    border: 1px solid #000000;
    bottom: 0px;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 101;
}

.chart-panel-closer {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 30px;
}

.chart-panel-info {
  position: absolute;
  top: 10px;
  left: 20px;
}

#chart{
    height: calc(100% - 30px);
    width: 100%;
    padding-top: 30px;
}


/*Legend*/
.legend {
    position: absolute;
    top: 7.5em;
    right: 0.5em;
    text-align: left;
}

.legend-panel {
    padding-right: 50px;
    border: 1px solid #cccccc;
    background-color: white;
    height: auto;
    max-height:500px;
    overflow: auto;

}

.legend .legend-panel {
    display: none;
}

.legend.shown .legend-panel {
    display: block;
}

.legend button {
    float: right;
    width: 38px;
    height: 38px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABSRJREFUeNq8V11oHFUU/u69sz+hTbJ5aKVIxL6klqJgsUrEmpRUGg2WKtJImvpLEUUwte2DIMWI0IeW2ioWKooVmmr0pfj3oqmJ+KIGpUKhBrTqQkClBtLUZLMz93rOnZ+d2Z3V0tVMmWbu7/nOd8537l0BwNmx98jpsmf6PG2wFI+SAhklPh45NLTNoXYTGx89PIT5y5eWBEDTsmb0P3ukjz8ZQN7ztB34pThN/0sIIVKWGRhDb0Om/dVrb1iDwGaeAYhwU6UcoiYLRzqQFoSwizQZ9rSLsi7TX68x943xnfFbwomjyzl5HPviKCamPicACoyB52vjoatjE57qegYld5H69NUDECZigp8YAEqMjIPxH85gdM9bOFf8mnok+4917bfiwcOPYqhnH7VcAuQzkxaPsCuKookC6DuPhH0kGFBSkecSv88W8en5dy0L7P2K1lUERVmAUDmaqy0LRtfmRJgnUkobQARtDqPr+Wt4fQoA2ptpJ1MzpWkUWgrWqIZn24KAZVUGdw7uBn2iu+deaK2TAGyuGLz0eBc2DuzF5i33+UCtcYP9D91OQHQdBmiSkH7izZk/0NrSbBXBaLnNi9jc+MjBCgMmRmuMAZcSdeLUQZ+BgPqQAfIyMT/BAHvJG5edP9HW1hypgNuMXJN35bJrN6uxXJUH2tO1uWGY33oAmD7617NuC1458RnFvzKkjWv7XRrXoYjElSi+SgCUmdUlJsGAR8uG+vZj37YXKYkq/RRquOR5qTQbbXTVKhT1VMAjmTyK7/Vi9tsx38NwMr2t63twzQMfQBIbaKAOWPAyrQ5wfEhiM5Nj2HTgO6A4xrqwvKC9B+PP3YxV/TkItUBzvagO1NN9oiaEflCYbYXVaQxIBqD870tTwPmjfqFkjwvtjA+ZnIKj8pRInk1WTkbWNUtbKRllfVhx2WA4xvPKrhfkj6ijgjDu5Z9AMqAO5XtLbV7CdWh935NwhEbX5q2U6Z6V1qt7tuKmvl1W97bwBMXHC8ZuvGcXumn+oad7qU7olCQ0YSEKkRQJwHLqJ0RkjNvWI/o8++FxAhMwoH1jLnl29qPXKwyYCuU89j2N8TczYENgD5nUOhCAaaJjeWWLzQt7eGSmbb8XqCHKAVTKgWe89IMvGDMBKBmXV/VZILXAis67MTF8OqlzWrmS+iXR59lSamJHWH3hx8dEoACfgRoA/mqFEtY+8gnUY7WbsfcLC/M2KsY0UAdkXN9VxzHfj544OYFTkz/be1s4jQ+YgVuux7H+2zDvSegG7kXSZnqVCqLtMhInv/oRk8MP45tfZ1mZVkYbrmvBhhfexvHBTjiaRGhqBW+AZJkNDqBaBpIRc6ruq1YJ07MlvH/uov1mY9cWcr5CZBb5pkwlw+yJ6Bviv4rvAKJyLHPWV8sulYF4GHiD3/5ySYXZ4D4kbFsGazq6B8gLSfcBqgPai876E8ODWH3HdtzVe7+9J7DxN57vT96EUs6RWgC04OKiRFtzPiBK2Hb4TI2/E0t7E7FhCMyFL0dj/DMIXXMCSvmPAPyYz1EFLLQsiwDMEW3hjxbNtFZf7qIcMImk0Ma/Y1TfOVIqYYWjnZ0dOPDmCMW8gpQN7uxcE10ua0QfSdsk+mTKsa1CBkxchrGJr+3YaN961wyuZLKBnwUiBBDYtAAcdaVbisoGDT6hTQsg66i57btfXm4vjeZ//oFKnrNxthmW6wK9q+ltw7/e9P6zh72cofeCPebp5ZTPYmmfRXov/y3AALnphTWuCyuxAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 2px;
    background-color: white;
    border: none;
}

.legend button:focus, .legend button:hover {
    background-color: white;
}

.expandableList ul {
  padding: 0 0 0 30px;
  width: 300px;
}

.expandableList li
  {
    position: relative;
    list-style: none;
    margin-left: -15px;
    margin-top:15px;
    padding: 0;
  }
.expandableList  li input
  {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
  }
.expandableList li input + ul
    {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAURJREFUeNpi/P//PwMlgImBQkCxASwwRlLLKwYmJqZgRkbGbiBXEYva+0Dvlv7792/tvBoxTAO+fv0MororE6UU9VU5MHRfvP1DsX3+M5DhaxkYxDC98ObNGxBW1FVmY/j16xcYu6SdYvjw4QPDixcvGGSEvoLlQeqweuHdu7dg+vfv32D85ctXsNijR4/B4hwcnHA1WA348uUbmP779y+DUchOuIKQsltgetsUE7garAb8/w9h/vz5h+H0Sk8w2yRsN8OZVa5g9ocPn+BqsBrAzs4PdQEzw48ff+Fi375B2Gxs3HA1WNPB45NlDNzcIvfPXv8LVMwJxmdWOcDZF2//A8uD1GF1wefXZ8Q+Pt42oWN+VBED41d5DKv+/30IlJ8IVCcF5D2DCTPC8gIwAXEDKT4Qk0Di+wzU8xnDgKGbmQACDAAtTZadqmiADQAAAABJRU5ErkJggg==') 40px 0px no-repeat;
      margin: -22px 0 0 -44px; /* 15px */
      height: 1em;
    }
.expandableList li input + ul > li { display: none; margin-left:-14px !important; padding-left: 1px; }
.expandableList li label
  {
    cursor: pointer;
    display: block;
    padding-left: 20px;
  }

.expandableList li input {
    display: none;
}

.expandableList li input:checked + ul
  {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNpi/P//PwMlgImBQkCxASwwRlLLKwYmJqZgRkbGbiBXEYva+0Dvlv7792/tvBoxTAO+fv0MororE6UU9VU5MHRfvP1DsX3+M5DhaxkYsBjw5s0bEKWoq6zA8OvXL7AYKIC/f//O8OPHDwYZIVaQGqjLlDENePfuLZj+/fs3GH/58pXh/fv3YDYIcHBwwtVgDYMvX76B6b9//zIYhezEULhtiglcDVYD/v+HMH/+/MNweqUnhsIPHz7B1WA1gJ2dH+oCZqCf/2IoZGPjhqvBmg4enyxj4OYWuX/2+l+gYk4MfPH2P7A8SB1WF3x+fUbs4+NtEzrmRxUxMH6Vx7Dq/9+HQPmJQHVSQN4zmDAjLC8AExA3kOIDMQkkvs9APZ8xDBi6mQkgwADDMYZH9Ls66AAAAABJRU5ErkJggg==') 40px 0px no-repeat;
    margin: -22px 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
  }
.expandableList li input:checked + ul > li { display: block; margin: 0 0 0.125em;  /* 2px */}
.expandableList li input:checked + ul > li:last-child { margin: 0 0 0.063em; /* 1px */ }
