/*General*/
.toggle {
  width: 100px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}



#map {
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height:  100%;
}

/*Slide menu*/
#slideout{
    position: fixed;
    top: 0px;
    right: 50%;
    height: 25px;
    width: 100px;
    padding: 0;
    text-align: center;
    background: white;
    background-color: white;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 0px 5px 5px;
    -moz-border-radius: 0 0px 5px 5px;
    border-radius: 0 0px 5px 5px;
    border-color:black;
    z-index: 100;
    color: black;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    font-weight: bold;
    padding-top: 3px;
}
#slideout_inner{
    position: fixed;
    left: 0px;
    top: -52px;
    padding: 0px;
    height: 52px;
    width: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    z-index: 100;
    color: black;
    border-color:black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-weight: normal;
    background: white;
    background-color: white;
}

#slideout:hover {
    top: 52px;
    z-index: 100;
}

#slideout:hover #slideout_inner {
    top: 0;
    z-index: 100;
}
#slideout:hover {
    top: 50px;
    z-index: 100;
}
#slideout:hover #slideout_inner {
    top: 0;
    z-index: 100;
}

/*Popup*/
.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    padding-top:35px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    height: auto;
    width: auto;
    min-width: 250px;
    max-height: 350px;
    max-width: 500px;
    overflow: auto;
}

.closer-icon {
  font-size: 30px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.closer-icon:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}