.ol-zoomslider {
  position: absolute;
  top: 4.5em;
  left: .5em;
  background: #eee;
  background: rgba(255,255,255,.4);
  width: 24px;
  height: 200px;
}

.ol-zoomslider-thumb {
  position: absolute;
  background: #7b98bc;
  background: rgba(0,60,136,.5);
  border-radius: 2px;
  cursor: pointer;
  height: 10px;
  width: 22px;
  margin: 3px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
  width: 2.052em;
}

.ol-touch .ol-zoomslider-thumb {
  width: 1.8em;
}